body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#app{
    text-align: center;
    color: aqua;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    margin: 10px 0;
    padding: 8px;
    border: 1px solid#ccc;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
button{
    padding: 8px;
    cursor: pointer;
}